body{
    font-family: 'Poppins', Sans-Serif;
    font-size: 14px;

}
.hero-section{
    background-image: url("donate1.jpg");
    background-repeat: no-repeat;
   background-position: center;
   background-size: cover ;
   min-height: 100vh;
   padding: 20px;
   display: flex;
}
.hero-content{
    text-align: center;
    width: 60%;
    color:white;
    margin: auto;
}
.hero-content h1{
    font-size:55px ;
    font-weight: 600;
}
.hero-content p{
    font-size: 20px;
    font-weight: 600;
}
a{
    background-color: tomato;
    color:wheat;
    text-decoration:none ;
    font-size: 15px;
    padding: 15px;
    border-radius: 5px;

    
}